<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SourceTree.Properties.Settings>
            <setting name="AgreedToEULA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AgreedToEULAVersion" serializeAs="String">
                <value>20160201</value>
            </setting>
            <setting name="AnonymousID" serializeAs="String">
                <value>f32d3160-f61d-4050-8cb4-e3e4670f9a1c</value>
            </setting>
            <setting name="SSHClientType" serializeAs="String">
                <value>PuTTY</value>
            </setting>
            <setting name="ProxyServerMode" serializeAs="String">
                <value>OperatingSystem</value>
            </setting>
            <setting name="HgPostPullAction" serializeAs="String">
                <value>Update</value>
            </setting>
            <setting name="AnalyticsHasAgreed" serializeAs="String">
                <value>False</value>
            </setting>

        </SourceTree.Properties.Settings>
    </userSettings>
</configuration>
